<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-4">
                <div class="jumbotron">
                    <h1>Knock-Knock Joke</h1>
                    <p>Definition: A joke made about a caller at the door. It usually ends up as a play on words.</p>
                    <p>The structure of a knock-knock joke is as follows:</p>
                    <p>Person 1: Knock-knock.</p>
                    <p>Person 2: Who's there?</p>
                    <p>Person 1: (Phrase A).</p>
                    <p>Person 2:'(Phrase A)' who?</p>
                    <p>Person 1: (Phrase A) (funny punch line).</p>

                    <p id="center">
                        <a href='../joke' class="btn btn-primary btn-lg">Click Here for Knock Knock Jokes</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
               
            </div>
        </div>
    </div>
    
</body>
</html>